<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.postpc.nisha.storyline">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />
    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="@string/google_maps_key" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->

    <uses-permission android:name="com.example.nisha.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <permission
        android:name="com.postpc.nisha.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:label="@string/app_name"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />


                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".CreateStoryActivity"
            android:screenOrientation="portrait"
            android:label="@string/headline_createAct"/>
        <activity android:name=".MyProfileActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".MyStoriesActivity"
            android:screenOrientation="portrait"
            android:label="@string/headline_myStories"/>
        <activity android:name=".AlbumActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".FinishStory"
            android:screenOrientation="portrait"
            />
        <activity android:name=".RunningStoryActivity"
            android:screenOrientation="portrait"
            android:label="@string/headline_runningAct"/>
        <activity android:name=".FinishStoryActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".SouvenirGifCreation"
            android:screenOrientation="portrait" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <service
            android:name=".LocationUpdatesIntentService"
            android:exported="false" />

        <receiver
            android:name=".LocationUpdatesBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name=".LocationUpdatesBroadcastReceiver.ACTION_PROCESS_UPDATES" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".uri.GenericFileProvider"
            android:authorities="${applicationId}.uri"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".GifLarger" />
        <activity android:name=".MapFinishActivity"
            android:label="@string/lable_map_finish_act"/>
    </application>

</manifest>